<template>
  <div>
    <div class="row mx-0">
      <div class="col-12 col-md-11 col-lg-10 mx-auto">

        <h1 class="display-3 my-5">Articles</h1>

        <div class="row mx-0">
          <PostCard v-for="card in cards"
                    v-bind:key="card._id"
                    v-bind:info="card"
                    class="col-lg-4 col-12 col-md-4 py-1">
          </PostCard>
        </div>
      </div>

      <div class="col">
        <p>Some side thing</p>
      </div>
    </div>
    <p v-show="cards.length == 0">{{empty_message}}</p>
  </div>
</template>

<script>
import PostCard from './PostCard';

export default {
  name: 'Home',
  components: {
    PostCard
  },
  props: {
    msg: String
  },
  data: function () {
    return {
      cards: [],
      empty_message: ''
    };
  },
  updated: function () {
    this.$nextTick(function () {
      var fst = document.querySelector('.link-card.imaged');
      if (fst) {
        fst.classList.remove('col-lg-4');
        fst.classList.remove('col-md-4');
        fst.classList.add('col-lg-8');
        fst.classList.add('col-md-8');
      }
    });
  },
  mounted: function () {
    this.$http.get(`/api`)
      .then((res) => {
        this.cards = res.data;
        this.empty_message = 'No articles';
      })
      .catch(() => {
        this.empty_message = 'Failed to contact the server';
      });
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
