<template>
  <b-modal role="dialog">
    <h1>Login</h1>
  </b-modal>
</template>

<script>
export default {
  name: 'LoginModal',
  data: function () {
    return {
    };
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
