<template>
  <div class="container">
    <h1>404 Not Found</h1>
  </div>
</template>

<script>
export default {
  name: 'NotFound',
  data: function () {
    return {
    };
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
