<template>

  <router-link class="link-card" :to="{path: `/view/${info._id}`}" v-bind:class="{ imaged: images.length > 0 }">
    <div class="card">
      <!-- Card image -->
      <img v-if="images.length > 0"
          v-bind:src="images[0]"
          class="card-img-top">
      <div class="card-body pt-3">
        <p class="time text-primary">
          <img src="@/assets/access_time24px.svg" style="width: 14px;">
          {{moment(info.modified).fromNow()}}
        </p>
        <h5 class="card-title mb-0">{{info.title}}</h5>
      </div>
    </div>
  </router-link>

  <!-- <div class="post-card">
    <div v-show="images.length > 0" class="head">
      <img v-bind:src="images[0]"/>
    </div>
    <div v-show="tags.length > 0" class="tags">
      <div class="tag" v-for="tag in tags" v-bind:key="tag">
        {{tag}}
      </div>
    </div>
    <div class="body">
      <router-link :to="{path: `/view/${info._id}`}">{{info.title}}</router-link>
    </div>
    <span class="time"><small>{{moment(info.modified).fromNow()}}</small></span>
  </div> -->
</template>

<script>
import moment from 'moment';

export default {
  name: 'PostCard',
  props: {
    info: Object
  },
  data: function () {
    return {
      tags: null,
      images: null
    };
  },
  methods: {
    moment
  },
  created: function () {
    this.tags = this.info.content.match(/#[^\s#]+/g) || [];
    let reg = new RegExp('!\\[.+\\]\\((https?:\\/\\/(?:www\\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\\.[^\\s]{2,}|www\\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\\.[^\\s]{2,}|https?:\\/\\/(?:www\\.|(?!www))[a-zA-Z0-9]+\\.[^\\s]{2,}|www\\.[a-zA-Z0-9]+\\.[^\\s]{2,})\\)', 'gm');
    this.images = this.info.content.match(reg) || [];
    this.images = this.images.map((val, i) => {
      return val.split('(')[1].replace(')', '');
    });
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.link-card {
  color: inherit;
  text-decoration: none;
  max-width: 100%;
}

.card {
  max-width: 100%;
}

.time {
  font-size: 14px;
  margin: 0;
}
</style>
