<template>
  <div class="d-block">
    <article v-html="content" class="article col-12 col-md-10 py-5 mx-0 mx-md-auto">
    </article>
    <hr>
    <small class="d-block text-muted text-right">{{publish_note}}</small>
  </div>
</template>

<script>
import marked from 'marked';
import hljs from 'highlight.js';
import moment from 'moment';
import 'highlight.js/styles/github.css';

export default {
  name: 'Home',
  props: {
    msg: String
  },
  data: function () {
    return {
      content: '',
      info: null,
      publish_note: null
    };
  },
  methods: {
    moment
  },
  updated: function () {
    this.$nextTick(function () {
      document.querySelectorAll('pre code').forEach((b) => {
        for (var c of b.classList) {
          if (c.startsWith(`language-`)) {
            b.classList.remove(c);
            b.classList.add(c.split('-')[1]);
          }
        }
        hljs.highlightBlock(b);
      });
    });
  },
  mounted: function () {
    this.$http.get(`/api/view/${this.$route.params.id}`)
      .then((res) => {
        this.info = res.data;
        this.content = marked(res.data.content);
        this.publish_note = `Published ${moment(this.info.modified).fromNow()}`;
        if (this.info.author.name) {
          this.publish_note += ` by ${this.info.author.name}`;
        }
      })
      .catch((err) => {
        if (err) {
          this.content = `<p>Article not found. The provided ID is most likely invalid!</p>`;
        }
      });
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.article img { max-width: 100%; }
.article pre { background: #f8f8f8; padding: .75rem 1rem }
.article pre code { color: initial; }
.article p > code { background: #FCE4E0; color: #C33527; border-radius: 3px; padding: 3px 5px; }
</style>
