<template>
  <div id="app">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">

      <!-- Container that limits the size of the navbar content -->
      <div class="container">
        <router-link tag="a" to="/" class="navbar-brand">Writer</router-link>

        <!-- Sign in/Sign out button -->
        <b-button v-if="!this.$user"
                class="btn-dark"
                v-b-modal.loginModal>
          Sign in
        </b-button>
        <b-button v-else class="btn btn-dark">Sign out</b-button>
      </div>
    </nav>

    <!-- Router content -->
    <div class="container main">
      <router-view/>
    </div>

    <!-- Footer -->
    <footer class="pt-4 py-5 mt-5 bg-light d-block">
      <div class="container px-0 px-md-5">
        <div class="row m-0 p-0">
          <div class="col-12 col-sm-3">
            <a href="https://gitlab.com/raggesilver" target="_blank">raggesilver</a> &copy; 2019
            <!-- Second half of the copyright (in case it is needed) -->
            {{(function () {
                let d = (new Date()).getFullYear();
                return (d > 2019) ? ` - ${d}` : ``;
              })()}}
          </div>
          <!-- <div class="col">
            <a href="/about">About</a>
          </div> -->
        </div>
      </div>
    </footer>

    <!-- Login modal is global to allow loging in from anywhere -->
    <LoginModal id="loginModal" />
  </div>
</template>

<script>
import 'bootstrap/dist/css/bootstrap.css';
import 'bootstrap-vue/dist/bootstrap-vue.css';
import LoginModal from './components/LoginModal';

export default {
  name: 'app',
  components: {
    LoginModal
  },
  methods: {
    login_modal: function () {

    }
  }
};
</script>

<style>
.main {
  margin-top: 56px;
}
.clear {
  clear: both;
  float: none;
}
</style>
